<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">
    <form action="" [formGroup]="loginForm" (ngSubmit)="submit()">
      <ng-container *ngFor="let field of logInFields">
        <ion-input labelPlacement="floating" placeholder="{{field.label}}" formControlName="{{field.name}}" label="{{field.label}}"></ion-input>
        <span class="error" *ngIf="this.loginForm.controls?.[field.name]?.errors?.['required'] && isSubmitted">
          {{field.label}} is required
        </span>
        <span class="error" *ngIf="this.loginForm.controls?.[field.name]?.errors?.['pattern'] && !this.loginForm.controls?.[field.name]?.valid">
          {{field.error}}
        </span>
      </ng-container>
      <ion-button expand="block" type="submit">Submit</ion-button>
    </form>
  </div>
</ion-content>
